<div>
    <form [formGroup]="loginRef" (ngSubmit)="signIn()">
        <label>EmailId</label>
        <input type="email" formControlName="emailid"/><br/>
        <label>Password</label>
        <input type="password" formControlName="password"/><br/>
        <label>TypeOfUser</label>
        <input type="radio" formControlName="typeofuser" value="admin"/>Admin
        <input type="radio" formControlName="typeofuser" value="customer"/>Customer<br/>
        <input type="submit" value="SignIn"/>
        <input type="reset" value="reset"/>
    </form>
</div>